{% extends "base.html" %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{{ data.title }}</h1>
    <p class="lead">{{ data.welcome_text }}</p>
    <p>{{ data.secondary_text }}</p>
    <div class="welcome-image-container my-4">
        <img src="{{ data.image_url }}" alt="Piano Keyboard" class="img-fluid welcome-image">
    </div>
	<div class="navigation-buttons mt-5 text-center">
        <a href="/learn" class="btn btn-primary">Start Learning</a>
    </div>
</div>
{% endblock %}