{% extends "base.html" %}

{% block title %}{{ data.title }}{% endblock %}

{% block content %}
<div class="learn-page">
    <div class="learn-container">
        <h1 class="page-title">{{ data.title }}</h1>
        <p class="lead text-center">{{ data.welcome_text }}</p>
        <p class="text-center">{{ data.secondary_text }}</p>
        <div class="welcome-image-container">
            <img src="{{ data.image_url }}" alt="Piano Keyboard" class="img-fluid welcome-image">
        </div>
        <div class="navigation-section">
            <a href="/learn" class="nav-btn btn-next">Start Learning</a>
        </div>
    </div>
</div>
{% endblock %}